body{
    margin: 0;
    max-width: 100%;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    text-align: center;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h1,h2,h3{
    margin: 0;
    padding: 1em 0;
}
p{
    margin: 0;
    padding: 1em, 0;
}
/* .grid{
    display: grid;
    
}  */
#showcase{
    min-height: 450px;
    
    text-align: center;
}
.bg-image{

    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.4;
    z-index: -1;
}
#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}
#showcase .content{
    font-weight: 700;
}
#showcase .content, #section1 .content{
    padding: 0, 1.5em;
}
.btn{
    text-decoration: none;
    text-align: center;
    background: #333;
    color: #fff;
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em 2em;
    border: 1px solid rgb(122, 119, 119);
}
.btn:hover{
    background: rgb(235, 235, 235);
    color: #333;
}
#section1{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}
/* #section1 .content-text{
     columns: 2;
    column-gap: 2em; 
    padding-top: 0;
}*/
#section2 {
    /* display: grid; 
    height: 400px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(500px,auto);*/
    padding: 2em 1em 1em;
}
#section2 ul{
    /* content: "";
    display: table; 
     clear: both; */
     display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}
#section2 li{
    margin: 0px 15px 0px 0px;
    width: 33.33%;
    height: 500px; 
    padding: 5px;
    margin-bottom: 1em;
    background: #fff;
    color: #333;
    border: 1px solid black;
    /* justify-content: space-around; */
}
li.card-content{
    
    padding: 1.5em;
    
}
 #section3 {
     background: #fff;
     color: #333;
     padding: 2em;
 }
#section4 .box{
        padding: 2em;
        color: #fff;
    }
#section4 .box:first-child{
    background: #2690d4;
} 
#footer{
    padding: 2em;
    color: #fff;
    background: #000;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color: #2690d4;
}
@media (min-width:700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2,minmax(auto, 25em)) 1fr;
    }
    #section1 .content-text{
        columns: 2;
       column-gap: 2em; 
       padding-top: 0;
    }
    .content, #section2 ul{
        grid-column: 2/4;
    }
    #section3 .content-text{
        grid-column: 2/4;
    }
    .box, #footer div{
        grid-column: span 2;
    }
    #section2 ul{
        display: flex;
        
    }
}