.wrapper{
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    margin-top: 80px;

}

.content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 60px;
    letter-spacing: 4px;
    color: rgb(231, 14, 14);
    white-space: nowrap;
    overflow: hidden;
}

.content a{
    font-size: 24px;
    display: block;
    background-color: #f8fc1e;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.overlay{
    opacity: 0;
}

.wrapper:hover img{
    opacity: .5;
}

.wrapper:hover .overlay{
    opacity: 1;
}